body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(img.jpg);
    text-align: center;
  }
  h1{
  color: #6d781c;
  font-weight: bold;  
    font-size: 40px;
    text-align: center;
  }

  h3{
    color: #094413;
    font-weight: bold;
      font-size: 25px;
    text-align: center;
  }
  h3{
     display: inline-block;
     height: 20;
     width: 150px;
     color: #09076e;
     background-color: #a7a2a0;
     padding: 10px;
       margin: 4px;
       text-align: center;
     font-size: 20px;
     font-weight: bold;
     text-decoration: none;
     border-radius: 20px;  

  }


  .king ul {

     text-align: center;
      padding-top: 30px;
    padding-bottom: 30px;
    text-decoration: none;
  }


  .king li {

    display: inline-block;
    text-align: center;
  }


  .king li a {
    display: inline-block;
    height: 20;
    width: 150px;
    color: #09076e;
    background-color: white;
    padding: 10px;
      margin: 4px;
      text-align: center;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;  
  }

  .king li a:hover{
    background-color: #206c04;
  }



  .menu{
  background-color: #565658;
  overflow: auto;
    font-size: 20;
    text-align: right;

  }

  .menu ul {
    text-align: center;
    padding-top: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  }

  .menu li {
  display: inline-block;
  text-align: center;
  }

  .menu li a {
  display: inline-block;
  height: 20;
  width: 150px;
  color: #09076e;
  background-color: white;
  padding: 10px;
    margin: 4px;
    text-align: center;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 20px;  
  }

  .menu li a:hover {
  background-color: #b34a00;

  }
  .vid{
  overflow: auto;
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #dedede;

  }
  .vid video{
  border-style: solid;
  border-width: 6xp;
  border-radius: 6px;
  border-color: #e2de6a;
  margin: 2px;
    object-fit: cover;
    -o-object-position: top;
  }
  .lol {
    text-align: center;
  }
  .end{
    background-color: darkgray;
  }


  .end a {

    display: inline-block;
    height: 20;
    width: 150px;
    color: #ffffff;
    background-color: #565658;
    padding: 10px;
      margin: 4px;
      text-align: right;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;  
  }


  .f{
    background-color: darkgray;
  }






  .f a{
    display: inline-block;
    height: 20;
    width: 150px;
    color: #ffffff;
    background-color: #565658;
    padding: 10px;
      margin: 4px;
      text-align: right;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;  
  }

  .zz a {
    display: inline-block;
      height: 20;
      width: 150px;
      color: #ffffff;
      background-color: #565658;
      padding: 10px;
        margin: 4px;
        text-align: right;
      font-size: 10px;
      font-weight: bold;
      text-decoration: none;
      border-radius: 20px;  
    }

  .ru a {
    display: inline-block;
    height: 20;
    width: 150px;
    color: #ffffff;
    background-color: #565658;
    padding: 10px;
      margin: 4px;
      text-align: right;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;  



  }
